/* --------- 全体用 --------- */
*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

body {
  background-color: #ffff;
  font-family: "Hiragino Gothic ProN";
  margin: 0px;
}

a {
  text-decoration: none;
}

@media (max-width: 340px) {
  .request-btn-area {
    padding: 10px;
  }

  .request-btn-area p {
    font-weight: normal;
    font-size: 12px;
  }

  .request-btn-area p span {
    font-weight: bold;
  }

  .request-btn-area p:nth-child(n+4) {
    font-size: 12px;
  }

  .request-btn a {
    padding: 20px;
    letter-spacing: 3px;
  }
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

ul,
ol,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

/* .container {
  max-width: 900px;
  margin: 0 auto;
} */

input,
select,
textarea::placeholder {
  color: #9e9e9e;
}

.bold {
  font-weight: 600;
}