@import url(./node_modules/sanitize.css/sanitize.css);


/* --------- 全体用 --------- */
body {
    background-color: #ffff;
    font-family: "Hiragino Gothic ProN"
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
  list-style:none
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/* --------- メインヘッダー --------- */
/* .main-header {
    height: 90px;
    text-align: center;
}

.main-header h1 {
    margin: 0px;
} */
/* --------- テスト --------- */
.test-img {
    width: 100%;
    border: 1px solid black;
}

.top-title {
  text-align: center;
}

.main-content-wrapper ul {
  display: flex;
  flex-direction: row-reverse;
}

.main-content-wrapper li {
  width: 20%;
  margin: 0 20px;
}

/* --------- import-profile-site --------- */
.import-profile-site {
  width: 100%;
  /* TODO:高さ仮置き */
  height: 2000px;
  display: none;
}

.profile-btn, .other {
  cursor: pointer;
}