@import url(../style.css);

// 全体用 -------------------------
body {
  color: #333333;
  font-size: 14px;
}

.btn-area {
  font-size: 12px;
  display: flex;
  justify-content: center;

  .btn {
    padding: 1px 8px;
    margin-bottom: 20px;

    i {
      margin-right: 2px;
    }
  }

  .twitter {
    background-color: #1d9bf0;
    border-radius: 10px;
  }
  .nice {
    background-color: #1877f2;
    margin-left: 5px;
    border-radius: 3px;
  }
  .share{
    background-color: #1877f2;
    margin-left: 5px;
    border-radius: 3px;
  }
}

.area-title {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  margin-bottom: 40px;

  p {
    font-size: 24px;
    font-weight: 600;
  }

  &:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }

  &:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }
}
// ヘッダー -------------------------
header {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  height: 69px;
  margin: 0 auto;
  width: 100%;

  .wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 6px;
  }
}

.header-left {
  display: flex;
  margin-top: 14px;

  img {
    width: 128px;
    height: 45px;
    margin-right: 5px;
  }

  p {
    margin: 0;
    padding-top: 22px;
    font-size: 14px;
  }
}

.header-right {
  background-color: #da6b64;
  border-radius: 30px;
  height: 44px;
  text-align: center;
  margin-top: 16px;

  a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 44px;
    font-size: 12px;
    font-weight: 300;
    padding: 0 40px;
  }
}
.contact-sp {
  display: none;
}
@media(max-width: 340px) {
  header {
    position: fixed;
    height: 62px;

    .wrapper {
      padding: 0px;
    }
  }
  .header-left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 10px 0 10px 10px;

    img {
      width: 90px;
      height: 45px;
    }
    p {
      font-weight: 600;
      font-size: 10px;
      padding-top: 10px;
    }
  }
  .contact-pc {
    display: none;
  }
  .contact-sp {
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    background-color:#da6b64;
    color: white;
    img {
      width: 20px;
    }
    p {
      margin: 0;
      font-weight: 100;
      font-size: 12px;
    }
  }
}
// メイン画像エリア -------------------------
.main-image-area {
  background-image: url('./img/main.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 75px;

  p.title {
    font-size: 28px;
    margin: 0px;
    padding-bottom: 10px;

    &:first-of-type {
      padding-top: 93px;
    }
  }
  img {
    width: 317px;
    margin-bottom: 20px;
  }
  p {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
  }
}
@media(max-width: 340px) {
  .main-image-area {
    background-image: url('./img/mainsp.jpg');
    height: 312px;
    padding-top: 120px;
    padding-bottom: 30px;

    p.title {
      font-size: 18px;
      &:first-of-type {
        padding-top: 0px;
      }
    }
    img {
      max-width: 317px;
      width: 80%;
      margin: 20px;
    }
    p {
      font-size: 15px;
    }
  }
}
// 請求ボタンエリア-------------------------
.request-btn-area {
  padding: 30px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;

  p {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    letter-spacing: 2px;

    span {
      font-size: 12px;
      color: red;
      border-radius: 3px;
      padding: 3px;
      background-color: #fff;
    }

    &:nth-child(n+4){
      margin: 20px 0;
      font-size: 18px;
    }
  }
}

.request-btn {
  a {
    display: inline-block;
    background-color: #da6b64;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 250px;
    color: #fff;
  }
}

@media(max-width: 340px) {
  .request-btn-area {
    padding: 10px;
    p {
      font-weight: normal;
      font-size: 12px;
      span {
      font-weight: bold;
      }
      &:nth-child(n+4) {
        font-size: 12px;
      }
    }
  }
  .request-btn a {
      padding: 20px;
      letter-spacing: 3px;
  }
}
// 「稼ぐ力」エリア-------------------------
.earning-power-area {
  background-image: url(./img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  text-align: center;
  padding: 40px 0;

  .area-title p {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    margin: 10px;

    span {
      font-weight: bold;
      background: linear-gradient(transparent 70%, #ebb94d 70%);
    }
  }
}
@media(max-width: 340px) {
.earning-power-area {
  height: 650px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
}
// aboutエリア -------------------------
.about-area {
  text-align: center;
  padding: 0 0 40px 0;
  background-color: #fef5e0;

  .area-title p {
      font-size: 28px;
    }
  p {
    font-size: 20px;
    font-weight: 600;
  }
  .about {
        position: relative;
          top: -40px;
    p {
      color: #fff;
      background-color: #ebb94d;
      padding: 0;
      margin: 0;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      font-size: 16px;
    }
  }
}

.skill-contents {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 17px 0;

  p {
    font-size: 16px;
    font-weight: 600;
  }

  .contents-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .content {
      padding: 10px;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }
}

@media(max-width: 340px) {
  .skill-contents {
    .contents-area {
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      flex-direction: row;
  
      .content {
        padding: 0px;
        width: 50%;
    
        img {
          height: 30px;
        }
        p {
          font-size: 12px;
          padding: 0px;
        }
      }
    }
  }
  .about-area {
    p {
      font-size: 15px;
      padding: 0px 30px;
    }
    .about p {
      font-size: 13px;
      font-weight: normal;
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  }
}
// STEPエリア-------------------------
.step-area {
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  color: #fff;

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
  span {
    color: #ebb94d;
    font-weight: 600;
  }
}
@media(max-width: 340px) {
  .step-area {
    background-image: url(img/aboutsecondbgsp.jpg);
    padding: 30px 30px;
    h3 {
      font-size: 18px;
      font-weight: normal;
    }
    p {
      font-size: 12px;
    }
  }
}

.step-contents {
  display: flex;
  justify-content: space-evenly;

  .step-content {
    width: 25%;
    padding: 30px 30px 20px;
    border-radius: 5px;
    background-color: #fff;

    p {
      color: black;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.6;
    }
    .step-num {
      color: #fff;
      background-color: #ebb94d;
      margin-bottom: 10px;
      border-radius: 5px;
      p {
        color: #fff;
        font-weight: normal;
      }
    }
  }
}
@media(max-width: 340px) {
  .step-contents {
    flex-direction: column;
    align-items: center;

    .step-content {
      width: 77%;
      padding: 0px 40px 0px;
      margin: 10px 0px;

      p {
        font-size: 12px;
      }
    }
  }
}

.step-text {
  background-color: rgb(1 110 167);
  padding: 40px 0;
  text-align: center;

  p {
    margin: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  span {
    color: #ebb94d;
    font-weight: 600;
  }
}

@media(max-width: 340px) {
  .step-text {
    padding: 20px 0;

    p {
      font-size: 14px;
      padding: 0 15px;
      font-weight: normal;
    }
  }
}
// メリットエリア-------------------------
.study-area {
  text-align: center;
  padding: 40px 0;

  h2 {
    font-size: 28px;
    margin-bottom: 35px;
    span {
      font-size: 16px;
    }
  }
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media(max-width: 340px) {
  .study-area {
    h2 {
      font-size: 18px;
      span {
        font-size: 12px;
      }
    }
    p {
      padding: 0 15px;
      font-size: 12px;
    }
  }
}

.study-contents {
  padding: 0;
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 40px auto 0 auto;

  .study-content {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 180px;
      height: 180px;
    }
  }
  p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
  }
}
@media(max-width: 340px) {
  .study-contents {
    width: 100%;
    max-width: none;

    .study-content {
      img {
        width: 70px;
        height: 70px;
      }
    }
    p {
      margin-top: 20px;
      font-size: 13px;
    }
  }
}

// メリットエリア-------------------------
.merit-area {
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 10px;
  padding-top: 30px;
}
.area-title p:first-child {
  font-size: 16px;
}
.merit-contents {
  display: flex;
  justify-content: space-evenly;

  .merit-content {
    width: 25%;
    h4 {
      color: #ebb94d;
    }
  }
}

.support-area {
  width: 730px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;

  h3 {
    color: #ebb94d;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    font-weight: 600;
  }
}
// 創業メンバーエリア-------------------------
.members-area {
  padding: 40px 0;
  background-image: url(img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  img {
    
    border-radius: 50%;
    position: relative;
    bottom: -35px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.member-wrapper {
  width: 80%;
  margin: 40px auto;
}

.member {
  padding: 40px;
  border: 3px solid #fff;
  p:last-child {
    text-align: left
  }
}

// questionエリア-------------------------
.question-area {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;

  &:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    top: 100%;
    left: 50%;
    margin-left: -25px;
  }

  .area-title {
    p {
      font-size: 20px;
      font-weight: 600;
    }
  
    &:before {
      border-top: 4px solid #fff;
      border-left: 4px solid #fff;
    }
  
    &:after {
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }
  .circle {
    color: #ebb94d;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
  }
}

// answerエリア-------------------------
.answer-area {
  text-align: center;
  margin: 40px auto;
  width: 90%;

  .answer {
    width: 100%;
    display: flex;
    margin: 25px 0;

    img {
      width: 30%;
      max-width: 350px;
      height: auto;
      border: 3px solid #ebb94d;
    }
    .answer-text {
      width: 70%;
      padding: 30px;
      text-align: left;
      font-style: italic;
      color: #777;
      p {
        font-size: 18px;
        &:last-child {
          text-decoration: underline;
        }
      }
    }
  }
}

// learning-contentsエリア-------------------------
.learning-contents-area {
  color: #fff;
  text-align: center;
  padding: 40px 0;
  background-image: url(img/classbg.jpg);
  background-position: center;
  background-size: cover;
}

.learning-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;

  .content-title {
    background-color: #016ea9;
    color: #fff;
    p {
      margin: 0;
      padding: 20px;
      font-size: 18px;
    }
  }

  .before-travel {
    width: 60%;
    margin: 20px;
    background-color: #fff;
    color: black;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
    p {
      border-bottom: 1px dotted #e5e5e5;
      margin: 0px;
      padding: 10px;
    }
  }
  .traveling {
    width: 60%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    color: black;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
    p {
      border-bottom: 1px dotted #e5e5e5;
      margin: 0px;
      padding: 10px;
    }
  }
}
// support-messageエリア-------------------------
.support-message-area {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
}
// 受講の流れエリア-------------------------
.courses-flow-area {
  text-align: center;
  padding: 40px 0;
  margin: 0 40px;
  h2 {
  font-size: 28px;
  }
}

.flow-area {
  margin: 30px 0;
  padding: 0 15%;
}

.flow-box {
  max-width: 1170px;
  max-width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;

  .flow-left {
    float: left;
    padding: 20px;
    width: 200px;
  }
  .flow-right {
    overflow: hidden;
    text-align: left;
    padding: 10px 0 0;
  }
}

.flow-image {
  max-width: 100%;
  margin: 0 auto;
  width: 70%;
}
@media(max-width: 340px) {
  .flow-image {
    display: none;
  }
}
// 理由エリア-------------------------
.reason-area {
  background-image: url(img/bangkokbg.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px 80px;
  color: #fff;
}




// 参加特典エリア-------------------------
.participation-area {
  background-size: 300px auto;
  padding: 40px 0;
  text-align: center;
  background-color: #f7c23c;

  h3 {
    font-size: 28px;
    position: relative;
    bottom: -58px;
    width: 45%;
    background-color: #f7c23c;
    margin: 0 auto;
    font-weight: 600;
  }
  span {
    color: #fff;
  }
}

.participation-box {
  padding-top: 25px;
  display: flex;
  border: 2px solid #fff;
  margin: 40px;
  padding: 40px;
  max-width: 1170px;
  justify-content: space-around;

  .box-item {
    width: 250px;
    height: 250px;
    background-color: #fff;
    padding: 0;
    text-align: center;
    display: inline-block;
    border-radius: 50%;

    h4 {
      font-size: 24px;
      font-weight: 300;
      color: #ebb94d;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      padding: 0 24px;
    }
  }
}



// 価値エリア-------------------------
.value-area {
  text-align: center;
  padding: 40px 0;
  color: #fff;
  background-image: url(img/specialdetail.jpg);
  background-position: center;
  background-size: cover;
  .area-title {  
    &:before {
      border-top: 4px solid #fff;
      border-left: 4px solid #fff;
    }
    &:after {
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
    }
  }
}


// メッセージエリア-------------------------
.message-area {
  text-align: center;
  text-align: center;
  padding: 40px 0;
  h2 {
    margin-bottom: 30px;
  }
}
.message-wrapper {
  display: flex;
  max-width: 1028px;
  padding: 0;
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 40px auto;

  .text-area {
    text-align: left;
    line-height: 30px;
  }
}
.message-image img {
  width: 300px;
  padding: 20px;
}
// 「稼ぐ力」エリア-------------------------
.asked-question-area {
  padding: 40px 10%;
  text-align: center;
}
// 資料請求フォームエリア-------------------------

.request-information-area {
  background-color: #ebb94d;
  padding: 40px 20%;
  text-align: center;
  h2 {
    font-style: 20px;
  }
  p {
    font-weight: 600;
    font-style: 12px;
    margin-bottom: 30px;
  }
}
.form-area {
  width: 100%;
  text-align: center;
  input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
  }
  textarea {
    margin-top: 20px;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
  }
}
.form-btn {
  background-color: #da6b64;
  color: #fff;
  padding: 10px 80px;
  border-radius: 50px !important;
  font-size: 23px;
  font-weight: 600;
  border: none;
}

// よくある質問エリア-------------------------
.questions {
  padding: 40px 10%;
  text-align: center;
}


.questions .txtl {
  margin-bottom: 40px;
}

.questions-list {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  text-align: left;
}

.panel-default {
  border: none;
}

.questionsbody {
  border: none !important;
  background-color: #fff;
  padding: 0 20px;
}

.questionsheading {
  padding: 0px 20px;
  border: 1px solid #e5e5e5 !important;
  margin-bottom: 5px;
}

.questionsheading h4 a {
  cursor: pointer;
  display: block;
  color: black;
}

.questionstoggle a:before {
  content: "○";
  float: left;
  padding-right: 5px;
}
.questionstoggle a:after {
  content: "◁";
  float: right;
  color: #9d9d9d;
}
// footerエリア-------------------------
.footer-wrapper {
  position: relative;
  padding: 40px 15px 20px 15px;
  background-color: #ececec;
  text-align: center;
  .btn-area {
    color: #fff;
  }
}
.copy-right {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 5px;
}

@media(max-width: 340px) {
  .area-title {
    padding: 30px 10px;
    margin-bottom: 20px;

    &:before {
      width: 30px;
      height: 30px;
    }
    &:after {
      width: 30px;
      height: 30px;
    }
  }
}