@import url(../style.css);

// 全体用 -------------------------
body {
  color: #333333;
  font-size: 14px;
}

.btn-area {
  font-size: 12px;
  display: flex;
  justify-content: center;

  .btn {
    padding: 1px 8px;
    margin-bottom: 20px;

    i {
      margin-right: 2px;
    }
  }

  .twitter {
    background-color: #1d9bf0;
    border-radius: 10px;
  }
  .nice {
    background-color: #1877f2;
    margin-left: 5px;
    border-radius: 3px;
  }
  .share{
    background-color: #1877f2;
    margin-left: 5px;
    border-radius: 3px;
  }
}

.area-title {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  margin-bottom: 40px;

  p {
    font-size: 24px;
    font-weight: 600;
  }

  &:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }

  &:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
  }
}
// ヘッダー -------------------------
header {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  height: 69px;
  padding-bottom: 6px;
  margin: 0 auto;
  width: 100%;

  .wrapper {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.header-left {
  display: flex;
  margin-top: 14px;

  img {
    width: 128px;
    height: 45px;
    margin-right: 5px;
  }

  p {
    margin: 0;
    padding-top: 22px;
    font-size: 14px;
  }
}

.header-right {
  background-color: #da6b64;
  border-radius: 30px;
  height: 44px;
  text-align: center;
  margin-top: 16px;

  a {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 44px;
    font-size: 12px;
    font-weight: 300;
    padding: 0 40px;
  }
}
// メイン画像エリア -------------------------
.main-image-area {
  background-image: url('./img/main.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 75px;

  p.title {
    font-size: 28px;
    margin: 0px;
    padding-bottom: 10px;

    &:first-of-type {
      padding-top: 93px;
    }
  }
  img {
    width: 317px;
    margin-bottom: 20px;
  }
  p {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
  }
}
// 請求ボタンエリア-------------------------
.request-btn-area {
  padding: 30px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;

  p {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    letter-spacing: 2px;

    span {
      font-size: 12px;
      color: red;
      border-radius: 3px;
      padding: 3px;
      background-color: #fff;
    }

    &:nth-child(n+4){
      margin: 20px 0;
      font-size: 18px;
    }
  }
}

.request-btn {
  a {
    display: inline-block;
    background-color: #da6b64;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 250px;
    color: #fff;
  }
}
// 「稼ぐ力」エリア-------------------------
.earning-power-area {
  background-image: url(./img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  text-align: center;
  padding: 40px 0;

  p {
    font-size: 16px;
    margin: 10px;

    span {
      font-weight: bold;
      background: linear-gradient(transparent 70%, #ebb94d 70%);
    }
  }

}
// aboutエリア -------------------------
.about-area {
  text-align: center;
  padding: 0 0 40px 0;
  background-color: #fef5e0;

  .about {
        position: relative;
          top: -40px;
    p {
      color: #fff;
      background-color: #ebb94d;
      padding: 0;
      margin: 0;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
    }
  }

  p {
    font-size: 16px;
    font-weight: 600;
  }
}

.skill-contents {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 17px 0;

  p {
    font-size: 16px;
    font-weight: 600;
  }

  .contents-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .content {
      padding: 10px;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }

      p {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

}
// STEPエリア-------------------------
.step-area {
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  color: #fff;

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
  span {
    color: #ebb94d;
    font-weight: 600;
  }
}

.step-contents {
  display: flex;
  justify-content: space-evenly;

  .step-content {
    width: 25%;
    padding: 30px 30px 20px;
    border-radius: 5px;
    background-color: #fff;

    p {
      color: black;
    }
    .step-num {
      color: #fff;
      background-color: #ebb94d;
      p {
        color: #fff;
      }
    }
  }
}

.step-text {
  background-color: rgb(1 110 167);
  padding: 40px 0;
  text-align: center;

  p {
    margin: 0px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  span {
    color: #ebb94d;
    font-weight: 600;
  }
}

// メリットエリア-------------------------
.study-area {
  text-align: center;
  h2 {
    font-size: 20px;
    span {
      font-size: 12px;
    }
  }
  p {
    font-size: 16px;
  }
}

.study-contents {
  text-align: center;

  .study-content {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 180px;
      height: 180px;
    }
  }
  p {
    font-weight: 500;
  }
}

// メリットエリア-------------------------
.merit-area {
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 10px;

  .area-title {

  }
}
.merit-contents {
  display: flex;

  .merit-content {
    h4 {
      color: #ebb94d;
    }
  }
}

.support-area {
  width: 730px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  padding: 40px 20px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;

  h3 {
    color: #ebb94d;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    font-weight: 600;
  }
}
// 創業メンバーエリア-------------------------
.members-area {
  padding: 40px 0;
  background-image: url(img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;

  img {
    border-radius: 50%;
  }

  .member-wrapper {
    padding: 40px;
    border: 3px solid #fff;
  }
}

// questionエリア-------------------------
.question-area {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;

  &:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    border: 25px solid transparent;
    border-top-color: #ebb94d;
    top: 100%;
    left: 50%;
    margin-left: -25px;
  }
}

.area-title {
  p {
    font-size: 20px;
    font-weight: 600;
  }

  &:before {
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
  }

  &:after {
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
  }
}
// answerエリア-------------------------
.answer-area {

  .answer {
    width: 100%;
    height: 200px;

    img {
      float: left;
      width: 180px;
      height: 180px;
      border: 3px solid #ebb94d;
    }
  }
}
// learning-contentsエリア-------------------------
.learning-contents-area {
  color: #fff;
  text-align: center;
  padding: 40px 0;
  background-image: url(img/classbg.jpg);
  background-position: center;
  background-size: cover;
}

.learning-content {
  display: flex;

  .content-title {
    background-color: #016ea9;
    color: #fff;
    p {
      margin: 0;
    }
  }

  .before-travel {
    background-color: #fff;
    color: black;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
  }
  .traveling {
    background-color: #fff;
    color: black;
    border: 2px solid #016ea9;
    padding: 0;
    border-radius: 5px;
  }
}
// support-messageエリア-------------------------
.support-message-area {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  p {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
}
// 受講の流れエリア-------------------------
.courses-flow-area {
}

.flow-area {
  
}

.flow-box {
  width: 1170px;
  max-width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;

  .flow-left {
    float: left;
    padding: 20px;
    width: 200px;
  }
  .flow-right {
    overflow: hidden;
    text-align: left;
    padding: 10px 0 0;
  }
}

.flow-image {
  max-width: 100%;
  margin: 0 auto;
  width: 70%;
}




// 「稼ぐ力」エリア-------------------------
// 「稼ぐ力」エリア-------------------------
// 「稼ぐ力」エリア-------------------------
// 「稼ぐ力」エリア-------------------------
.hoge-area {
  height: 1500px;
  background-color: gray;
}
