@media(max-width: 640px) {
  h1 {
    font-size: 23px;
  }

  .flex {
    flex-direction: column;
  }

  .recipe-img {
    width: 100%;
  }

  .recipe-img img {
    height: auto;
  }

  .recipe-text {
    width: auto;
  }
}