@import url(../node_modules/sanitize.css/sanitize.css);

/* --------- 全体用 --------- */
body {
  background-color:rgb(242, 242, 242);
  font-family: "Hiragino Kaku Gothic ProN"
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}
.container {
  width: 900px;
  margin: 0 auto;
  /* background-color: rgb(244, 226, 226); */
}

/* --------- メインヘッダー --------- */
.main-header {
  height: 90px;
  text-align: center;
}

.main-header h1 {
  margin: 0px;
}
/* --------- ヘッダー --------- */
header {
  background-color:rgb(247, 247, 246);
  height: 60px;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.profile-log-img {
  width: 120px;
  height: 40px;
  margin: 10px 0;
}

.header-right {
  float: right;
}

.header-right a {
  text-decoration: none;
  color: black;
  line-height: 60px;
  margin-left: 15px;
}

/* --------- メイン --------- */
.main {
  height: 686px;
}

.main-img {
  height: 600px;
  width: 100%;
}

/* --------- about --------- */
.section-wrapper {
  text-align: center;
}

.section-title {
  display: inline-block;
  border-bottom: 1px solid black;
}

.about-text h3 {
  display: flex;
  justify-content: left;
}

/* TODO:どういう役割なのか調べる */
.about-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 25px;
}
