@media(max-width: 640px) {
  header {
    display: block;
    margin-bottom: 10px;
    height: auto;
    text-align: center;
  }

  .main-img img {
    margin-bottom: 80px;
  }

  .wrapper {
    padding: 0 17px;
    margin-bottom: 70px;
  }

  .img-area ul {
    flex-direction: column;
    padding: 0 17px;
  }

  .img-area ul li {
    width: 100%;
  }

  section {
    margin: 0 auto 0px auto;
  }

  section h2 {
    margin-bottom: 40px;
  }

  .news dl {
    border-top: 1px solid #c8c8c8;
    flex-direction: column;
  }

  .news dt {
    border-top: none;
    border-bottom: none;
  }

  .news dt:first-child,
  .news dt:first-child + dd {
    border-top: none;
  }

  .news dt {
    font-size: 14px;
    padding-bottom: 0;
  }

  .news dd {
    font-size: 14px;
    width: 100%;
    padding-top: 0px;
  }

  .form dl {
    flex-direction: column;
  }

  .form dt {
    font-size: 14px;
  }

  .form dd {
    font-size: 14px;
    width: 95%;
  }
}