@import url(../style.css);
body {
  color: #333333;
  font-size: 14px;
}

.btn-area {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.btn-area .btn {
  padding: 1px 8px;
  margin-bottom: 20px;
}
.btn-area .btn i {
  margin-right: 2px;
}
.btn-area .twitter {
  background-color: #1d9bf0;
  border-radius: 10px;
}
.btn-area .nice {
  background-color: #1877f2;
  margin-left: 5px;
  border-radius: 3px;
}
.btn-area .share {
  background-color: #1877f2;
  margin-left: 5px;
  border-radius: 3px;
}

.area-title {
  margin: 0 auto;
  position: relative;
  width: 860px;
  max-width: calc(100% - 40px);
  padding: 15px 0px;
  margin-bottom: 40px;
}
.area-title p {
  font-size: 24px;
  font-weight: 600;
}
.area-title:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-top: 4px solid #ebb94d;
  border-left: 4px solid #ebb94d;
}
.area-title:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #ebb94d;
  border-right: 4px solid #ebb94d;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: #fff;
  height: 69px;
  padding-bottom: 6px;
  margin: 0 auto;
  width: 100%;
}
header .wrapper {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .wrapper .header-left {
  display: flex;
  margin-top: 14px;
}
header .wrapper .header-left img {
  width: 128px;
  height: 45px;
  margin-right: 5px;
}
header .wrapper .header-left p {
  margin: 0;
  padding-top: 22px;
  font-size: 14px;
}
header .wrapper .header-right {
  background-color: #da6b64;
  border-radius: 30px;
  height: 44px;
  text-align: center;
  margin-top: 16px;
}
header .wrapper .header-right a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  line-height: 44px;
  font-size: 12px;
  font-weight: 300;
  padding: 0 40px;
}

.main-image-area {
  background-image: url("./img/main.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 75px;
}
.main-image-area p.title {
  font-size: 28px;
  margin: 0px;
  padding-bottom: 10px;
}
.main-image-area p.title:first-of-type {
  padding-top: 93px;
}
.main-image-area img {
  width: 317px;
  margin-bottom: 20px;
}
.main-image-area p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.request-btn-area {
  padding: 30px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;
}
.request-btn-area p {
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  letter-spacing: 2px;
}
.request-btn-area p span {
  font-size: 12px;
  color: red;
  border-radius: 3px;
  padding: 3px;
  background-color: #fff;
}
.request-btn-area p:nth-child(n+4) {
  margin: 20px 0;
  font-size: 18px;
}
.request-btn-area .request-btn a {
  display: inline-block;
  background-color: #da6b64;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 250px;
  color: #fff;
}

.earning-power-area {
  background-image: url(./img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 587px;
  text-align: center;
  padding: 40px 0;
}
.earning-power-area p {
  font-size: 16px;
  margin: 10px;
}
.earning-power-area p span {
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ebb94d 70%);
}

.about-area {
  text-align: center;
  padding: 0 0 40px 0;
  background-color: #fef5e0;
}
.about-area .about {
  position: relative;
  top: -40px;
}
.about-area .about p {
  color: #fff;
  background-color: #ebb94d;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
.about-area p {
  font-size: 16px;
  font-weight: 600;
}
.about-area .skill-contents {
  width: 1170px;
  max-width: calc(100% - 40px);
  margin: 30px auto;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
  padding: 17px 0;
}
.about-area .skill-contents p {
  font-size: 16px;
  font-weight: 600;
}
.about-area .skill-contents .contents-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about-area .skill-contents .contents-area .content {
  padding: 10px;
}
.about-area .skill-contents .contents-area .content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.about-area .skill-contents .contents-area .content p {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.step-area {
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  text-align: center;
  color: #fff;
}
.step-area h3 {
  font-size: 28px;
}
.step-area p {
  font-size: 20px;
}
.step-area span {
  color: #ebb94d;
  font-weight: 600;
}
.step-area .step-contents {
  display: flex;
  justify-content: space-evenly;
}
.step-area .step-contents .step-content {
  width: 25%;
  padding: 30px 30px 20px;
  border-radius: 5px;
  background-color: #fff;
}
.step-area .step-contents .step-content p {
  color: black;
}
.step-area .step-contents .step-content .step-num {
  color: #fff;
  background-color: #ebb94d;
}
.step-area .step-contents .step-content .step-num p {
  color: #fff;
}

.step-text {
  background-color: rgb(1, 110, 167);
  padding: 40px 0;
  text-align: center;
}
.step-text p {
  margin: 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.step-text span {
  color: #ebb94d;
  font-weight: 600;
}

.study-area {
  text-align: center;
}
.study-area h2 {
  font-size: 20px;
}
.study-area h2 span {
  font-size: 12px;
}
.study-area p {
  font-size: 16px;
}
.study-area .study-contents {
  text-align: center;
}
.study-area .study-contents .study-content {
  display: flex;
  justify-content: space-evenly;
}
.study-area .study-contents .study-content img {
  width: 180px;
  height: 180px;
}
.study-area .study-contents p {
  font-weight: 500;
}

.merit-area {
  text-align: center;
  background-color: #fef5e0;
  padding-bottom: 10px;
}
.merit-area .merit-contents {
  display: flex;
}
.merit-area .merit-contents .merit-content h4 {
  color: #ebb94d;
}
.merit-area .support-area {
  width: 730px;
  max-width: calc(100% - 40px);
  margin: 40px auto;
  padding: 40px 20px;
  background-color: #fff;
  border: 2px solid #ebb94d;
  border-radius: 5px;
}
.merit-area .support-area h3 {
  color: #ebb94d;
  font-size: 24px;
  font-weight: 600;
}
.merit-area .support-area p {
  font-size: 16px;
  font-weight: 600;
}

.members-area {
  padding: 40px 0;
  background-image: url(img/teacherbg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.members-area img {
  border-radius: 50%;
}
.members-area .member-wrapper {
  padding: 40px;
  border: 3px solid #fff;
}

.question-area {
  position: relative;
  padding: 40px 0;
  text-align: center;
  background-color: #ebb94d;
  color: #fff;
}
.question-area .area-title p {
  font-size: 20px;
  font-weight: 600;
}
.question-area .area-title:before {
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
}
.question-area .area-title:after {
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
}
.question-area:after {
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border: 25px solid transparent;
  border-top-color: #ebb94d;
  top: 100%;
  left: 50%;
  margin-left: -25px;
}

.answer-area .answer {
  width: 100%;
  height: 200px;
}
.answer-area .answer img {
  float: left;
  width: 180px;
  height: 180px;
  border: 3px solid #ebb94d;
}

.learning-contents-area {
  color: #fff;
  text-align: center;
  padding: 40px 0;
  background-image: url(img/classbg.jpg);
  background-position: center;
  background-size: cover;
}
.learning-contents-area .learning-content {
  display: flex;
}
.learning-contents-area .learning-content .content-title {
  background-color: #016ea9;
  color: #fff;
}
.learning-contents-area .learning-content .content-title p {
  margin: 0;
}
.learning-contents-area .learning-content .before-travel {
  background-color: #fff;
  color: black;
  border: 2px solid #016ea9;
  padding: 0;
  border-radius: 5px;
}
.learning-contents-area .learning-content .traveling {
  background-color: #fff;
  color: black;
  border: 2px solid #016ea9;
  padding: 0;
  border-radius: 5px;
}

.support-message-area {
  background-color: #016ea9;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}
.support-message-area p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.courses-flow-area .flow-box {
  width: 1170px;
  max-width: calc(100% - 40px);
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 35px;
  background-color: #fef5e0;
}
.courses-flow-area .flow-box .flow-left {
  float: left;
  padding: 20px;
  width: 200px;
}
.courses-flow-area .flow-box .flow-right {
  overflow: hidden;
  text-align: left;
  padding: 10px 0 0;
}
.courses-flow-area .flow-image {
  max-width: 100%;
  margin: 0 auto;
  width: 70%;
}

.hoge-area {
  height: 1500px;
  background-color: gray;
}/*# sourceMappingURL=isara.css.map */